.green-button {
  padding: 0.25em 1.25rem;
  border-radius: 5px;
  color: #82ca9d;
  border: 1px solid #82ca9d;
  background: rgb(241, 241, 241);
  transition: 0.3s ease-in-out;
  &:hover {
    color: rgb(241, 241, 241);
    background: #82ca9d;
    border: 1px solid rgb(241, 241, 241);
  }
}

.navbar-brand {
  user-select: none;
}

.area-container {
  width: 50% !important;

  @media screen and (max-width: 768px) {
    width: 100% !important;
  }
}

.section-info {
  margin-top: 10px;
  display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

}

.main-chart-container {
  flex: 1;
}
.text-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30% !important;
  @media screen and (max-width: 768px) {
    width: 100% !important;
  }
}

#loading-screen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
}